<html>

 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/list_maker.css">
  </head>

  <body align="center">

    <h1> Are you sure you want to delete this list?</h1>

    </br>
    <form role="form" action='{{url_for('deleteList', list_id = list_id)}}', method='POST'> 
      <div align="center" class="form-group">
        <input type='submit' class="btn btn-default" value='delete'>
      </div>

    </br></br>

    <a href='{{url_for('viewAll', list_id = list_id)}}'>Cancel</a>

  </body>

</html>