<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/list_maker.css">
</head>


<body style="text-align: center">
<h1> ListMaker </h1><h3> a simple way to create any basic list</h3> 
</br></br></br>
<h1>Sorry, page not found :/ </h1>
<!--END GOOGLE PLUS SIGN IN -->

</body>

</html> 